%button {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $shadow-black, 0 2px 4px 0 $shadow-black, 0 1px 3px -1px $shadow-black;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 16px;
  min-width: 86px;
  padding: 10px 20px;
  text-align: center;
  transition: all $transition-duration $transition-function;

  &:disabled {
    background-color: $alabaster;
    border: none;
    box-shadow: none;
    color: $gray;
    pointer-events: none;
  }
}

.button-primary {
  @extend %button;

  background-color: $deep-sea-green;
  border: 1px solid $hoki;
  color: $white-lilac;

  &:hover {
    background-color: $chathams-blue;
  }
}

.button-secondary {
  @extend %button;

  background-color: $porcelain;
  border: 1px solid $deep-sea-green;
  box-shadow: none;
  color: $deep-sea-green;

  &:hover {
    border-color: $hoki;
    color: $hoki;
  }
}

.link {
  color: $hoki;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.17px;
  line-height: 16px;

  &:hover {
    color: #565656;
  }
}
