@import '../variables/colors';

.chip {
  background-color: rgba($turqoise-blue, 0.3);
  border: 1px solid $turqoise-blue;
  border-radius: 16px;
  height: 25px;
  width: 105px;

  &.success {
    background-color: rgba($malachite, 0.3);
    border: 1px solid $malachite;
  }

  &.danger {
    background-color: rgba($mandy, 0.3);
    border: 1px solid $mandy;
  }

  &.warning {
    background-color: rgba($fuel-yellow, 0.3);
    border: 1px solid $fuel-yellow;
  }

  &.progress {
    background-color: rgba($mona-lisa, 0.3);
    border: 1px solid $mona-lisa;
  }

  &.manual {
    background-color: rgba($mona-lisa, 0.15);
    border: 1px solid $mona-lisa;
  }
}
