@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i|Poppins:400,400i,500,500i,700,700i&display=swap');

@import './variables/colors';
@import './variables/sizes';

@import './layout/layout';
@import './layout/margins';

@import './commons/fonts';
@import './commons/buttons';
@import './commons/status';
@import './icons.scss';

html,
body {
  height: 100%;
}

body {
  background-color: $alabaster;
}

// Prevent Firefox to display spin number

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.info-card {
  background-color: $white;
  border: 2px solid $white-lilac;
  border-radius: 12px;
  padding: 24px 32px 26px;
}

// Modal

.modal-content {
  max-width: 560px;
  width: 100%;
}

.header-content {
  background-color: $alabaster;
  height: 240px;
}

.warning-icon {
  height: 20px;
  width: 20px;
}

.modal-message {
  padding: 0 67px;
}

.icon-sortable {
  transition: color $transition-duration $transition-function;
  width: 10px;
}
