.upload-btn-wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.upload-input-wrapper {
  display: none;
}
.upload-input-wrapper:hover ~ label {
  background-color: #116280;
  cursor: pointer;
}

.button-width {
  width: 185px;
}