:host {
  display: none;
}
:host .modal-container {
  bottom: 0;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
:host .modal-container::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;
}
:host .modal-container::after {
  background-color: #C2C2C2;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 950;
}
:host .modal-container .modal-body {
  background: #FFF;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1100;
}

body.modal-open {
  overflow: hidden;
}

.button-close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
}

.icon-modal {
  font-size: 36px;
}

.padding-modal {
  padding: 20px;
}

.close-modal {
  height: 14px;
  width: 14px;
}