.modal-step {
  display: grid;
  grid-template: 50% 50%/1fr;
  height: 453px;
  width: 559px;
}

.modal-logo-container {
  background-color: #F8F8F8;
}

.info-container {
  padding: 0 120px;
}

.img-width {
  width: 157px;
}