.search-container {
  background-color: #FFF;
  border-bottom: 2px solid #F5F6FB;
  border-radius: 8px 0 0 0;
  height: 80px;
  padding-left: 14px;
  width: 100%;
}

.search-input {
  /*
  background-color: #F8F8F8;
  border-radius: 8px;
  */
  color: #638A99;
  height: 38px;
  padding: 12px 38px 12px 12px;
  width: 368px;
  border: none;
  background: none;
}

.search-input::placeholder {
  color: #638A99;
}

.search-button {
  border: none;
  background: none;
}

.search-button::after {
  content: url(/o/prueba-mkpl/icons/magnifying-glass.svg);
  display: block;
  position: relative;
  right: 34px;
}