@import './variables/colors';

.search-container {
  background-color: $white;
  border-bottom: 2px solid $white-lilac;
  border-radius: 8px 0 0 0;
  height: 80px;
  padding-left: 14px;
  width: 100%;
}

.search-input {
  background-color: $alabaster;
  border-radius: 8px;
  color: $hoki;
  height: 38px;
  padding: 12px 38px 12px 12px;
  width: 368px;

  &::placeholder {
    color: $hoki;
  }
}

.search-button {
  &::after {
    content: url(/assets/icons/magnifying-glass.svg);
    display: block;
    position: relative;
    right: 34px;
  }
}
