@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i|Poppins:400,400i,500,500i,700,700i&display=swap');

@import './variables/_sizes2.css';

@import './layout/_layout2.css';
@import './layout/_margins2.css';

@import './commons/_fonts2.css';
@import './commons/_buttons2.css';
@import './commons/_status2.css';
@import './icons2.css';

@import './empty-inventory.component.css';
@import './input-control.component.css';
@import './input-file.component.css';
@import './modal-info-block.component.css';
@import './modal-inventory.component.css';
@import './modal.component.css';
@import './product-list.component.css';
@import './search.component.css';
@import './select-control.component.css';
@import './table-list.component.css';
@import './upload-modal.component.css';

html,
body {
  height: 100%;
}

body {
  background-color: #F8F8F8;
}

/* Prevent Firefox to display spin number */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.info-card {
  background-color: #FFF;
  border: 2px solid #F5F6FB;
  border-radius: 12px;
  padding: 24px 32px 26px;
}

/* Modal */

.modal-content {
  max-width: 560px;
  width: 100%;
}

.header-content {
  background-color: #F8F8F8;
  height: 240px;
}

.warning-icon {
  height: 20px;
  width: 20px;
}

.modal-message {
  padding: 0 67px;
}

.icon-sortable {
  transition: color 290ms cubic-bezier(0.79, 0.01, 0.38, 0.99);
  width: 10px;
}