.button-width {
  width: 185px;
}

.modal-choose-option {
  display: grid;
  grid-template: 1fr/55% 45%;
  height: 430px;
  width: 847px;
}

.modal-info {
  background-color: #F8F8F8;
  padding: 0 31px 0 56px;
}

.modal-text {
  line-height: 25px;
}

.modal-options-container {
  display: grid;
  grid-template: 10% 80% 10%/1fr;
}

.modal-icon {
  align-self: flex-start;
  height: 80px;
}

.or-element::before, .or-element::after {
  background-color: #E5E5E5;
  content: "";
  height: 1px;
  position: absolute;
  top: 7px;
  width: 73px;
}

.or-element {
  position: relative;
}
.or-element::after {
  right: 20px;
}
.or-element::before {
  left: 20px;
}

.unitary-modal-load {
  padding: 36px;
  width: 560px;
}