$black: #000;
$white: #FFF;
$gray: #8D8D8D;
$scorpion: #565656;
$emperor: #505050;
$silver: #C2C2C2;
$iron: #DCDCDE;
$athens-gray: #E3E8EB;
$concrete: #F3F3F3;
$mercury: #E5E5E5;
$alabaster: #F8F8F8;
$dusty-gray: #979797;
$jungle-mist: #B6CAD1;
$wild-sand: #F6F6F6;
$seashell: #F1F1F1;
$mystic: #E7ECEF;
$deep-sea-green: #0D4D64;
$hoki: #638A99;
$boulder: #7B7B7B;
$atoll: #076370;
$tiber: #093545;
$chathams-blue: #116280;
$white-lilac: #F5F6FB;
$porcelain: #EEF2F3;
$fuel-yellow: #EFA51E;
$cod-gray: #1A1A1A;
$malachite: #07CE56;
$shadow-black: rgba(0, 0, 0, 0.1);
$dark-fringy-flower: #B8DEC2;
$fringy-flower: #BFE6C9;
$robin-egg-blue: #00BAD2;
$light-robin-egg-blue: rgba(0, 186, 210, 0.25);
$mandy: #E24D56;
$light-mandy: rgba(226, 77, 86, 0.25);
$smalt-shadow: rgba(0, 51, 160, 0.169);
$mona-lisa: #FFB196;
$turqoise-blue: #60D4E3;
$light-deep-sea-green: rgba(13, 77, 100, 0.12);
$gothic: #6890A0;
$light-gray: rgba(0, 0, 0, 0.16);
$mine-shaft: #3E3E3E;
