<div class="empty-inventory-container row center middle">
	<div class="empty-inventory column center middle">
	  <img src="/o/prueba-mkpl/icons/upload-inventory.svg" alt="Cargar inventario" />
	  <h1 class="title section m-top-9">Cargar inventario</h1>
	  <p class="field-text deep-sea-green text-center m-top-6">
		Comienza a cargar la información necesaria para crear el catálogo de
		inventario. Ten en cuenta que el archivo debe ser .xls o .xlsx (Excel) para que la
		carga sea exitosa. Haz clic en la opción cargar inventario para comenzar.
	  </p>
	  <button class="button-primary button-width m-top-9" type="button" (click)="openModal('cv-modal')">
		Cargar inventario
	  </button>
	</div>
</div>