<div class="input-container column" [ngClass]="classContainer">
  <input [id]="id" class="input" [name]="id" type="text" [(ngModel)]="value" autocomplete="off" [disabled]="disabled"
    (ngModelChange)="onChange()"
    [ngClass]="{ error: control.invalid && control.touched, valid: value }" (blur)="markAsTouched()"
    [placeholder]="placeholder" 
    #term (keyup)="inputItem(term.value)"/>
  <label [attr.for]="id" class="label">{{label}}</label>
  <span class="error-message" *ngIf="control.invalid && control.touched">
    {{errorMessages.getMessage(control.errors)}}
  </span>
</div>