<div
  class="row middle message-container m-top-6"
  [ngClass]="{ 'error-modal': error }"
>
  <img
    [ngClass]="{ 'loading-icon': icon === 'loading' }"
    class="message-icon"
    src="/o/prueba-mkpl/icons/{{ icon }}.svg"
    alt="{{ icon }}"
  />
  <p
    class="field-text text-error text-error m-left-6"
    *ngIf="error; else success"
  >
    ¡Error! {{ error }}
  </p>
  <ng-template #success>
    <p class="field-text deep-sea-green m-left-6">
      {{ info | shortLargeStrings
      }}<span class="field-text bold deep-sea-green">{{ bold }}</span>
    </p>
  </ng-template>
</div>
