<div class="input-container column" [ngClass]="classContainer">
  <select class="input" [id]="id" [name]="id" [(ngModel)]="value" [disabled]="disabled"
    (ngModelChange)="onChange()" (blur)="markAsTouched()"
    [ngClass]="{ error: control.invalid && control.touched, valid: control.valid || disabled }">
    <option *ngFor="let item of data" [value]="item.id">{{item.name}}</option>
  </select>
  <label [attr.for]="id" class="label">{{label}}</label>
  <span class="error-message" *ngIf="control.invalid && control.touched">
    {{errorMessages.getMessage(control.errors)}}
  </span>
</div>
