<div class="table-header row">
  <h3 class="header-title deep-sea-green bold title-small-poppins item-1"
    *ngFor="let header of headers">
    {{ header }}
  </h3>
</div>
<ng-content></ng-content>
<ng-container *ngIf="$data">
  <div class="product-info row" *ngFor="let item of $data">
    <ng-container *ngFor="let key of keys">
      <ng-container *ngIf="modifiers[key]?.resolver">
        <span class="table-item deep-sea-green text-normal item-1">
          {{ modifiers[key]?.resolver(item[key]) }}
        </span>
      </ng-container>
      <ng-container *ngIf="modifiers[key]?.style">
        <span class="table-item deep-sea-green text-normal item-1"
          [ngClass]="modifiers[key]?.style">
          {{ item[key] | shortLargeStrings }}
        </span>
      </ng-container>
      <ng-container *ngIf="!modifiers[key]?.resolver && !modifiers[key]?.style">
        <span class="table-item deep-sea-green text-normal item-1">
          {{ item[key] | shortLargeStrings }}
        </span>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
